<!-- fifth section - Links -->
<section id ="links">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p style ="font-weight: bold">Links</p>
                <p class="footer-links">
                <!-- LINKS -->
                    <a href="/">Home</a><br>
                    <a href="????">Recherche</a><br>
                    <a href="?page=users">Configuration</a><br>
                </p>
            </div>

            <div class="col-md-3">
                <p style ="font-weight: bold">Websites</p>
                <p class="footer-links">
                    <a href="#">Music is all my life</a><br>
                </p>
            </div>

            <div class="col-md-3">
                <p style ="font-weight: bold">About</p>
                <div class="about_foot">
                    <img src="../../assets/img/GuitarElRichwood.png" alt="Guitare" style="max-width:50px">
                    <p style="padding-top: 20px">Music was my first love...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /fifth section -->

<!--  footer -->
<div id="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="footer-copyright">Luc Pirau © 2020</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  /footer -->