<div class="container" style="padding: bottom 10px;padding-top: 100px">
    <h2>Load song</h2>
    <form [formGroup]="myForm">
        <div class="form-row" style="padding-bottom: 0px;padding-top: 10px">
            <div class="col">
                <label class="control-label">Artist Name</label>
                <input type="text" formControlName="ArtistName" name="artistName" id="ArtistName" 
                    placeholder="Enter artist name" class="form-control">
            </div>
            <div class="col">
                <label class="control-label">Song Title</label>
                <input type="text" formControlName="SongTitle" name="songTitle" id="SongTitle" 
                    placeholder="Enter song title" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-6" style="padding-bottom:0px;padding-top: 15px">
            <div class="col">
                <!-- <input type="file" (change)="onChange($event.target.files)"> -->
                <input type="file" id="myFile">
                <button style="margin:5px;" type="button" class="btn btn-danger" (click)="load()">Load</button>
            </div>
        </div>
    </form>
</div>