p {
    font-family: Lato;
}

.card {
    border: none;
    box-shadow: none;
}
.mat-card-content {
    border: none;
}

.scrollContainer {
    white-space: pre-wrap;
    height: 450px;
    overflow: auto;
    position: relative;
    border-style: none;
}

.mat-icon {
    transform: scale(0.6);
}