.my-song {
    height: 500px;
    overflow: auto;
}

#mySong {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;/*reset from inline*/
    width:100%;
    margin:0;/*remove defaults*/
    padding:4px;
    background:white;
    border:0px solid;
    overflow-y:auto;/*resets IE*/
    overflow-x:hidden;/*resets IE*/
}